<div class='inventory-filters flexrow'>
  <ol class='filter-list flexrow' data-filter='features'>
    {{#each filters.filters}}
      <li class='filter-item' data-filter='{{key}}'>{{label}}</li>
    {{/each}}
  </ol>
</div>